@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var welcomes = (QuickTypeVProperty.VacantProperty) ViewData["Welcome"];
    var welcomes = ViewData["Welcome"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  
    <table>
        <tr>
            <th>Neighbourhood</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Street_Name</th>
            <th>Street_Number</th>
            <th>Property ID</th>
        </tr>
        @{
            @foreach (QuickTypeVProperty.VacantProperty property in welcomes)
            {
                <tr>
                    <td>@property.Neighborhood</td>
                    <td>@property.Longitude</td>
                    <td>@property.Latitude </td>
                    <td>@property.StreetName</td>
                    <td>@property.StreetNo</td>
                    <td>@property.Uniqueid</td>
                </tr>
            }
        }
    </table>
    <br />
</div>